*{
    margin: 0;
    padding: 0;
}

.profile-header
{
   
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   
.profile-body{
   
    display: flex;
    height: 45vh;
    font: 300 20px/1.5 Verdana, Geneva, Tahoma, sans-serif;
}
.profile-name
{
    line-height: 7em;
}
.profile-info
{
    /* line-height: 4em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-value
{
    border: 1px solid black;
    padding: 10px;
}
.edit-profile{
    display: flex;
    /* width: 80%; */
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.edit-profile input{
 font-size: 1.5em;
 padding: 5px;
 border-radius: 5px;
 border-style: none;
 background-color: tomato;
}
.editprofile
{
    font-size: 1.3em;
    width: 80%;
 
    margin: auto;

}
.CustomerProfile
{
    display: flex;
    
    
}

.name
{
    display: flex;
  
    text-align: center; 
    align-items: center;
    width: 20vw;

    line-height: 3em;
    
}
.inputcustomer
{
    margin: auto;
    height: 30px;
    width: 60%;
}
.btn-sub
{
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: tomato;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;

}