.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-banner{
    padding: 10px;
    height: 20vh;
    width: 100%;
    background-color: #DE3163;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container
{
    height: 60vh;
    
   
}