.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container h3 {
    padding: 10px;
}
.form-container {
    width: 30%;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    /* position: relative;
    top:30vh; */
}

.input-grp {
    display: flex;
    flex-direction: column;
}
label {
    margin: 5px;
}
input {
    margin: 5px;
    height: 30px;
}