
.container {
    position: relative;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: rgb(206, 187, 160);
  
}
.heading img {
    width: 130px;
    overflow: hidden;
}

.Search {
    height: 30px;
    width: 450px;
    border-radius: 5px;
    outline: none;
}
.icon {
    position: relative;
    
    top: 3.5px;
    left: -6.5%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(104, 101, 101);
    color: white;
    font-size: 22px;
    
    cursor: pointer;
   
    width: 150px;
    height: 44px;
  
    background-color: black;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.sticky
{
    position: fixed;
    top: 10%;
    width: 30%;
}
.navbar {
    display: flex;
    list-style: none;
    padding: 7px 7px;

   
}
ul a.active {
    background-color: white;
    
}
li a {
    float: left;
    display: block;
    color: #6d4444;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 17px;
}
li {
    margin: 10px;
}
.cart img {
    width: 20px;
}

.Search[type=text]
{
    outline: none;
}